.input-container {
  border: none;
  background-color: #ffffff75;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  padding: 0 20px 0 40px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  color: #3c3a3a;
  outline: none;
  padding: 0px 16px;
  width: 385px;
  height: 60px;
}
