.main {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1.1fr 0.6fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 0;
  grid-template-areas:
    "header header"
    "greet greet"
    ". ."
    ". .";
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background: linear-gradient(90deg, #4776e6 0%, #8e54e9 65.67%);
  border-radius: 25px 0px 0px 25px;
  &__title {
    font-size: 40px;
    margin-left: 20px;
    grid-area: greet;
    color: #fff;
    font-weight: 500;
  }
}
