.main {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1.1fr 0.6fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 0;
  height: 100%;
  overflow-y: auto;
  grid-template-areas:
    // "header header"

    "greet greet"
    ". ."
    ". .";
  padding: 20px;
  background: linear-gradient(90deg, #4776e6 0%, #8e54e9 65.67%);
  border-radius: 25px 0px 0px 25px;
  @media screen and (max-width: 945px) {
    padding: 10px;
    overflow-y: initial;
    grid-template-columns: 1fr;
    border-radius: 0;
    grid-template-rows: none;
    grid-template-areas:
      // "header"

      "greet"
      "."
      "."
      "."
      ".";
    &__title {
      margin-top: 40px;
    }
  }
  @media screen and (max-width: 500px) {
    padding: 0 0 0 5px;
  }
  @media screen and (max-width: 400px) {
    padding: 0;
  }
  &__title {
    font-size: 2.6rem;
    margin-left: 20px;
    grid-area: greet;
    color: #fff;
    font-weight: 500;
  }
}
