.category-item {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.1fr 1fr;
  align-content: center;
  align-items: center;
  gap: 0px 0px;
  width: 202px;
  height: 60px;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  cursor: pointer;

  &-image {
    margin: 0 10px;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    img {
      width: 20px;
      height: 20px;
    }
  }

  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    // color: #ffffff;
  }
}
