.user-block-wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 50px;
  &-title {
    margin-bottom: 20px;
  }
  &-currency {
    justify-content: flex-start;
    span {
      flex-grow: 0;
    }
  }
  //   justify-items: center;
}
