.sidebar-route {
  text-decoration: none;
  color: var(--theme-color);
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: calc(15px / 2);
  font-size: 16px;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
  img {
    width: 16px;
    margin-right: 8px;
  }
  &:hover {
    background-color: var(--hover-menu-bg);
  }
  &_active {
    background-color: var(--hover-menu-bg);
    color: #6a82fb;
  }
}
