.balance-block-item {
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  cursor: pointer;
  padding: 10px 18px;
  gap: 0px 0px;
  margin-bottom: 20px;
  text-align: right;

  &.general {
    background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
    color: white;
  }

  &-subtitle {
    color: gray;
    font-size: 15px;
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
  }
  &-amount {
  }
  &-title {
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    &-text {
      margin-left: 10px;
    }
  }
}
