.balance-block-item {
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  cursor: pointer;
  padding: 10px 18px;
  gap: 0px 0px;
  margin-bottom: 20px;
  text-align: right;
  transition: background 0.1s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &.general {
    background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
    color: white;
  }

  &-subtitle {
    color: gray;
    font-size: 1rem;
    width: 100%;
    font-size: 0.8rem;
    margin-top: 5px;
  }
  &:not(.general) &-title img {
    filter: invert(1);
  }
  &-title {
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    &-text {
      margin-left: 10px;
    }
  }
  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span:only-child {
      margin-left: auto;
    }
  }
  &-delete {
    font-size: 12px;
    text-decoration: underline;
    color: #7f7f7f;

    &:hover {
      color: #555555;
    }
  }
}
