.user-block {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 30px;
  grid-template-areas: ". . .";
}
.user-block-item {
  width: 100%;
  display: flex;
  padding: 10px 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
  font-size: 14px;
  border-radius: 14px;
  span {
    flex-grow: 1;
    margin-left: 10px;
  }
}
