.chart-block {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0px 5px;
  background-color: #fff;
  padding: 15px;
  border-radius: 14px;
  height: 350px;
  @media screen and (max-width: 945px) {
    grid-template-columns: 1fr;
    height: auto;
    max-height: 700px;
  }
  @media screen and (max-width: 500px) {
    padding: 5px;
  }
  @media screen and (max-width: 400px) {
    border-radius: 0;
  }
}

.transaction-history-isEmpty {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}
