.chart-block {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  background-color: #fff;
  padding: 15px;
  border-radius: 14px;
  height: 350px;
}
