.login-layer {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  justify-items: center;
  align-items: center;
  height: 100vh;
  background: #eff3f8;

  animation: gradient 6s linear infinite reverse;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
