.header-icon {
  padding: 20px;
  background-color: #6a82fb;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  &__badge {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 12px;
    height: 12px;
    font-size: 9px;
    background-color: #fb6a6a;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
