.user-modal {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 0.5fr;
  gap: 20px 0px;
  grid-template-areas:
    "."
    "."
    ".";
  > span:first-child {
    font-size: 22px;
  }
  input {
    height: 30px;
  }
  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      text-align: center;
      text-decoration: none;
    }
  }
  .tip {
    margin-top: 1rem;
    text-align: center;

    &__text {
      font-size: 0.93rem;
      color: #9c9aa8;
    }
  }
  .delete {
    font-size: 0.93rem;
    color: #9c9aa8;
    text-align: center;

    &__link {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
