@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "Styles/_vars.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  font-family: "Montserrat";
  overflow: hidden;
  height: 100%;
}
html {
  font-size: 15px;
  height: 100%;
  overflow: hidden;
  @media screen and (max-width: 945px) {
    font-size: 12px;
  }
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(25, 25, 25, 0.23);
  border-radius: 10px;
}

input {
  border: none;
  background-color: var(--input-light-bg);
  border-radius: 4px;
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  color: var(--theme-color);
  outline: none;
}

.button-primary {
  background-color: #f0187b;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
  width: 100%;
  font-size: 0.9rem;
  &:hover {
    background-color: #c80d61;
  }
  &:disabled {
    opacity: 0.5;
  }
  &:disabled {
    opacity: 0.5;
  }
}

.button-info {
  align-items: center;
  padding: 5px 16px;
  background: #6a82fb;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  transition: 0.3s;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  &:hover {
    background-color: #3f5be8;
  }
  &:disabled {
    opacity: 0.5;
  }
  &:disabled {
    opacity: 0.5;
  }
}

#root {
  height: 100%;
}

.button-secondary {
  background-color: #ffffff;
  border: none;
  padding: 14px 26px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
  width: 100%;
  font-size: 0.9rem;
  color: var(--theme-color);
  &:hover {
    background-color: #f3f3f3;
  }
}
.app-card {
  font-size: 1.1rem;
  padding: 20px 10px 20px 20px;
  cursor: pointer;
  transition: 0.3s ease;
  display: inherit;
  &-header {
    display: flex;
    justify-content: flex-end;
    color: white;
  }
  @media screen and (max-width: 500px) {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
.content-section-title {
  color: var(--content-title-color);
  font-weight: 500;
  font-weight: 500;
  font-size: 1.6rem;
  h1 {
    font-size: 1.5rem;
    @media screen and (max-width: 400px) {
      margin-left: 10px;
    }
  }
  // margin-bottom: 14px;
}
.content-section-category {
  bottom: 20px;
  flex-grow: 1;
}
.content-section-controll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  @media screen and (max-width: 400px) {
    margin-right: 10px;
    margin-top: 5px;
    align-items: flex-start;
    img {
      position: relative;
      top: -5px;
    }
  }
  span {
    margin-right: 5px;
  }
  img {
    padding: 7px;
    background-color: #f0187b;
    border-radius: 50%;
  }
}
.app-card:hover {
  // transform: scale(1.02);
  // background-color: var(--theme-bg-color);
}
textarea {
  resize: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  // border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    // transform: scale(1.01);
    background: rgba(255, 255, 255, 0.35);
  }
}

.card-glassmorphism {
  background-color: rgb(146, 151, 179 / 13%);
  border-radius: 14px;
  border: 1px solid rgb(255, 255, 255 / 31%);
  padding: 20px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

// @font-face {
//   font-family: "Montserrat Regular";
//   src: local("Montserrat Regular"),
//     url(../Static/fonts/Montserrat-Regular.ttf) format("ttf");
// }

// @font-face {
//   font-family: "Montserrat Black";
//   src: local("Montserrat Black"),
//     url(../Static/fonts/Montserrat-Black.ttf) format("ttf");
// }

// @font-face {
//   font-family: "Montserrat Black Italic";
//   src: local("Montserrat Black Italic"),
//     url(../Static/fonts/Montserrat-BlackItalic.ttf) format("ttf");
// }

// @font-face {
//   font-family: "Montserrat Bold Italic";
//   src: local("Montserrat Bold Italic"),
//     url(../Static/fonts/Montserrat-BoldItalic.ttf) format("ttf");
// }

// @font-face {
//   font-family: "Montserrat Extra Bold";
//   src: local("Montserrat Extra Bold"),
//     url(../Static/fonts/Montserrat-ExtraBold.ttf) format("ttf");
// }
