:root {
  --theme-bg-color: rgb(255 255 255 / 31%);
  --input-light-bg: rgb(255 255 255 / 31%);
  --body-font: "Montserrat", sans-serif;
  --theme-color: #3c3a3a;
  --border-color: rgb(255 255 255 / 35%);
  --hover-menu-bg: rgba(255 255 255 / 35%);
  --content-bg: rgb(146 151 179 / 13%);
  --content-title-color: --theme-color;
}
