.add-bill-modal {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-rows: 0.3fr 1.7fr 0.2fr 0.2fr 0.2fr 0.2fr;
  gap: 10px 0px;
  &-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #555555;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d2d2d21f;
  }

  p {
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9c9aa8;
    span {
      text-decoration: underline;
    }
  }

  &-block {
    margin-top: 30px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 0px;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.05);
    padding: 16px;
    border-radius: 15px;
    div {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
    }
    input {
      background: #eff3f8;
      border-radius: 15px;
    }
  }
  .button-secondary {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    height: 45px;
  }
  .bill-modal-controll {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0px 10px;
    margin-top: 30px;
    button {
      border-radius: 50px;
      padding: 0;
      max-height: 40px;
    }
  }
}

.add-carn-button-wrapper {
  span {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  img {
    margin-right: 15px;
  }
}
