.datepicker {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.42fr 1.1fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    "."
    ".";
  padding: 16px;
  justify-items: center;
  align-items: center;
  &-title {
    font-family: var(--body-font);
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: var(--theme-color);
  }
  &-select {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "."
      "."
      ".";
    justify-items: center;
    align-items: center;
    width: 100%;
    &-item {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas: ".";
      justify-items: center;
      width: 100%;
      padding: 10px;
      cursor: pointer;
      span {
        font-family: var(--body-font);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #9c9aa8;
      }
      &.active {
        background-color: #3a6df0;
        border-radius: 20px;
      }
      &.active span {
        color: #ffffff;
      }
    }
  }
  &-calendar {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . .";
  }
  &-controll {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
    grid-template-areas: ". .";
  }
}
