.fade-in-wrapper {
  visibility: none;
  overflow: auto;

  &.active {
    animation: FadeIn 1.5s;
  }

  @keyframes FadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
