.settings {
  overflow-x: hidden;
  overflow-y: auto;
  &-subs {
    padding: 20px 20px 0 20px;
    margin-bottom: 70px;
    background: linear-gradient(90deg, #4776e6 0%, #8e54e9 65.67%);
    border-radius: 46px 0px 0px 46px;
    .app-card {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}
