.support {
  overflow: auto;
  &-content {
    background: linear-gradient(90deg, #4776e6 0%, #8e54e9 65.67%);
    border-radius: 46px 0px 0px 46px;
    padding: 20px;
    height: 80%;
    margin-bottom: 100px;
  }
  &-cards {
    width: 370px;
    margin-left: 20px;
    background-color: #fff;
    min-height: 470px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    position: relative;
    border-radius: 14px;
    bottom: -50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2),
      0 -20px 0 rgba(167, 112, 255, 0.5);
  }
  &-item {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px;
    input,
    textarea {
      width: 100%;
      font-size: 14px;
    }
    textarea {
      border: none;
      outline: none;
      color: #555;
      height: 90px;
      &:focus {
      }
    }
  }
  &-cards {
    .support-send {
      width: 100%;
      margin-top: 20px;
      background-color: #6a82fb;
      &:hover {
        background-color: #4962e2;
      }
    }
  }
}
