.sidebar {
  .sidebar-logo-wrapper {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;

    .sidebar-logo {
      width: 150px;
      height: 77.31px;
    }
  }
  &__hr {
    width: calc(100% - 50px);
    margin: 15px 0;
    height: 1px;
    padding-left: 25px;
    background-color: #f3f7fb;
  }
}
