.chart-block-history {
  border-radius: 14px;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 0;
  &-info span {
    display: block;
  }
  &-item-subtitle {
    color: #9c9aa8;
  }
  &-item-title {
    text-transform: capitalize;
  }
}
