.balance-block {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  background-color: #fff;
  border-radius: 14px;
  padding: 15px;
  gap: 0px 0px;
  grid-template-areas:
    "."
    ".";
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  &-title {
    font-size: 25px;
    color: #555555;
    margin-bottom: 15px;
  }
}
