.balance-block {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  background-color: #fff;
  border-radius: 14px;
  padding: 15px;
  gap: 0px 0px;
  grid-template-areas:
    "."
    ".";
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: start;
  @media screen and (max-width: 400px) {
    border-radius: 0;
  }
  &-title {
    font-size: 1.6rem;
    color: #555555;
    margin-bottom: 15px;
  }

  &-empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bill-list-isEmpty {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}
