.preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: none;
  overflow: auto;
  z-index: 10;
  &-wrapper {
    width: 150px;
    height: 150px;
    background-color: var(--theme-bg-color);
    border-radius: 14px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 90px;
      height: 90px;
    }
  }

  &.active {
    animation: Show 0.5s;
  }

  @keyframes Show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
