.expense-income-block {
  display: grid;
  grid-auto-columns: 1fr;
  width: 80%;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0px 10px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 -15px 0 rgba(167, 112, 255, 0.5),
    0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 15px;
  position: relative;
  bottom: -80px;
  .expense-income-wrapper {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 14px;
    border: 1px solid var(--theme-bg-color);
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
  }
  .expense-income-header-date {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    justify-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    & span {
      padding: 5px 20px;
    }
  }

  .expense-income-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
.expense-income-card {
  margin: 0px 0;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1.2fr 0.8fr;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  gap: 0px 0px;
  &-content {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 0px;
    &-title {
      color: #9c9aa8;
    }
  }
  &-bar {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    align-items: center;
    justify-items: center;
    position: relative;
    &-value {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr;
      gap: 0px 0px;
      align-items: center;
      justify-items: center;
    }
  }
}
.expense-income-history {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 10px 0px;
  max-height: 400px;
  &-icon-wrapper {
    display: flex;
    align-items: center;
  }
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    img {
      width: 19px;
    }
  }
  &-row {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.1fr 1fr;
    gap: 0px 0px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    padding: 10px;

    &-info {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 3px 0px;
      grid-template-areas:
        "."
        "."
        ".";
      div {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1.9fr 0.1fr;
        gap: 0px 0px;
        justify-items: start;
        align-items: center;
        &-title {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #9c9aa8;
        }
      }
      &-amount {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #555555;
      }
    }
  }
}

.circleChart {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
}
