.bonuscard {
  overflow: auto;
  &-content {
    background: linear-gradient(90deg, #4776e6 0%, #8e54e9 65.67%);
    border-radius: 46px 0px 0px 46px;
    padding: 20px;
    height: 70%;
    margin-bottom: 100px;
  }
  &-nav {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: space-between;
  }
  &-input {
    width: 60%;
    height: 50px;

    background: #fdfdfd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    input {
      padding: 7px 8px;
      font-size: 17px;
      width: 100%;
    }
    img {
      margin: 0 10px;
    }
  }
  &-btns {
    display: flex;
    width: auto;
    &-icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-add {
      width: 200px;
      margin-left: 15px;
    }
  }
  &-block {
    margin-left: 20px;
    position: relative;
    bottom: -80px;
    display: flex;
    justify-content: start;
  }
  &-block img,
  &-info {
    width: 450px;
    border-radius: 14px;
    height: 280px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2),
      0 -20px 0 rgba(167, 112, 255, 0.25), 0 -40px 0 rgba(167, 112, 255, 0.25),
      0 -60px 0 rgba(167, 112, 255, 0.25);
  }
  &-info {
    margin-left: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    &-title {
      margin-left: 15px;
      margin-top: 15px;
    }
    &-light {
      color: #9c9aa8;
    }
  }
  &-delete {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 15px;
    color: #9c9aa8;
    span {
      cursor: pointer;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  &-slider {
    margin-bottom: 20px;
    h1 {
      margin-bottom: 15px;
      color: #555555;
    }
    img {
      height: 104px;
      border-radius: 14px;
      cursor: pointer;
    }
  }
}
