.category-constructor {
  padding: 10px;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
  &-selected {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-template-areas: ". .";
    align-items: center;
    margin-bottom: 10px;
    height: 30px;
    div {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      grid-template-columns: 1fr;
      grid-template-rows: 1.8fr;
      gap: 0px 0px;
      grid-template-areas: ".";
      align-items: center;
      justify-items: center;
      img {
        width: 24px;
        height: 24px;
      }
    }
    input {
      height: 10px;
      background-color: #eff3f8;
      padding: 15px 10px;
    }
  }
  &-row {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 10px 0px;
    color: #9c9aa8;
    grid-template-areas:
      "."
      ".";
    margin-bottom: 10px;
  }
  &-controll {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.8fr;
    gap: 0px 10px;
    grid-template-areas: ". .";
  }
}
