.subscription-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  border-radius: 25px;
  padding: 36px 15px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &-title {
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    color: #000000;
  }

  &-list {
    max-height: 200px;
    flex: 1;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      height: 65px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(253, 253, 253, 0.85);
      background: linear-gradient(
        180deg,
        rgba(253, 253, 253, 1) 0%,
        rgba(253, 253, 253, 1) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: 1;
    }

    li {
      display: flex;

      &::before {
        height: 17px;
        content: "";
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background: #555555;
        margin: 10px 7px 0;
      }
    }
  }

  &-date {
    color: #555555;
    font-size: 14px;
    font-weight: bold;
  }

  &-button {
    display: block;
    width: auto !important;
    text-decoration: none;
  }
}
