.chart-block-history-item {
  padding: 10px 18px;
  font-size: 1.06rem;
  transition: 0.3s;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.4fr 1.8fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
  align-items: center;
  &-image {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ".";
    justify-items: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 16px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    img {
      width: 20px;
      height: 20px;
      filter: invert(1);
    }
  }
  &-price-wrapper {
    text-align: right;
  }
}
