.chart-block-history-item {
  padding: 10px 18px;
  font-size: 16px;
  transition: 0.3s;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.4fr 1.8fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
  align-items: center;
  &-image {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ".";
    justify-items: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin-right: 16px;
  }
  &-price-wrapper {
    text-align: right;
  }
}
