.donut-chart-block-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  height: 30px;
  span {
    position: relative;
    top: -2px;
    color: #333333;
  }
}
